.alignCenter {
    text-align: center;
}

.bgBlack {
    background-color: #000;
}

.height10 {
    height: 10%;
}

.height20 {
    height: 20%;
}

.height30 {
    height: 30%;
}

.dashboard-header {
    background-color: #222 !important;
}

.alignCenter{
    text-align: center;
}

.login-btn-container{
    margin-top:40px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}